body {
  margin: 0;
  padding: 0;
  background-color: #36393f;
  color: #a4a7aa;
  text-align: center;
  font-size: x-large;
}

.large-button {
  padding: 20px;
  margin: 20px;
  border-radius: 5px;
  background-color: #40444b;
  color: #a4a7aa;
  cursor: pointer;
  border: black 1px solid;
  display: inline-block;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
}

.break {
  flex-basis: 100%;
  height: 0;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: #2b2d31;
  border-radius: 3px;
}
 
::-webkit-scrollbar-thumb {
  background: #1a1b1e;
  border-radius: 3px;
}

.column {
  overflow-y: scroll;
  align-content: center;
  height: 92.5vh;
  scrollbar-width: none;
  background-color: #2e3035;
  overflow-x: hidden;
  float: left;
}

.divider {
  width: 90%;
  margin-left: 5%;
  background-color: #373a3f;
  height: 5px;
  border: none;
  border-radius: 5px;
}

.user-guild {
  float: left;
  font-size: large;
  display: inline;
  position: relative;
  object-fit: cover;
  left: 5%;
  width: 95%;
  margin-bottom: 10px;
}

.icon {
  border-radius: 50%;
  float: left;
}

.name {
  float: left;
  display: flex;
  margin-left: 5px;
  text-align: left;
}

.user-guild-info {
  font-size: medium;
  text-align: left;
  float: left;
  margin-left: 27.5%;
  position: sticky;
  max-width: 95%;
  word-wrap: break-word;
  margin-top: -36px;
}

.generic-button {
  display: inline-block;
  font-size: large;
  margin: 5px;
  padding: 4px;
  min-width: 15px;
  border-radius: 5px;
  background-color: #40444b;
  color: #a4a7aa;
  cursor: pointer;
  all: unset;
}

.highlighted {
  filter: brightness(115%);
  border-radius: 5px;
}

.activity-input {
  padding: 3px;
  border-radius: 5px;
  background-color: #40444b;
  color: #a4a7aa;
  text-align: center;
  border: #a4a7aa 1px solid;
}

.generic-button:hover, .large-button:hover{
  filter: brightness(90%);
}

.generic-button:active, .large-button:active {
  filter: brightness(80%);
}

.user-input {
  font-size: large;
  margin-top: 5px;
  border-radius: 5px;
  background-color: #40444b;
  color: #a4a7aa;
  text-align: center;
  border: #a4a7aa 1px solid;
}

.account-area {
  width: 18%;
  margin-left: 41%;
  align-content: center;
  height: 92.5vh;
  float: left;
}

.ticket-area {
  width: 75%;
  align-content: center;
  height: 92.5vh;
  word-break: break-all;
  display: inline-block;
}

.ticket-title {
  align-content: center;
  display: inline-block;
  width: 50%;
  font-size: x-large;
}

.ticket-status {
  border: #1a1b1e;
  background-color: #2b2d31;
  border-radius: 5px;
  font-size: small;
  width: fit-content;
  display: inline-block;
  align-content: center;
  padding: 5px;
}

.ticket-response-input {
  font-size: large;
  margin-top: 5px;
  border-radius: 5px;
  background-color: #40444b;
  color: #a4a7aa;
  text-align: center;
  border: #a4a7aa 1px solid;
}