body {
  margin: 0;
  padding: 0;
  background-color: #2e3035;
  color: #f2f3f5;
  text-align: center;
}

.gray-button {
  padding: 20px;
  margin: 20px;
  border-radius: 5px;
  background-color: #40444b;
  color: #f2f3f5;
  cursor: pointer;
  border: black 1px solid;
  display: inline-block;
}

.gray-button:hover{
  filter: brightness(90%);
}

.gray-button:active {
  filter: brightness(80%);
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
}

.break {
  flex-basis: 100%;
  height: 0;
}