.navbar {
    border-radius: 0px;
    padding: 8px;
    width: 100%;
    top: 0;
    margin: 0px;
}

.navbar-button {
    margin: 5px;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    background-color: #40444b;
    color: #a4a7aa;
    cursor: pointer;
    all: unset
}

.navbar-button:hover{
    filter: brightness(90%);
}

.navbar-button:active {
    filter: brightness(80%);
}