.column {
  overflow-y: scroll;
  align-content: center;
  height: 92.5vh;
  scrollbar-width: none;
  background-color: #2e3035;
  overflow-x: hidden;
  float: left;
}

.divider {
  width: 90%;
  margin-left: 5%;
  background-color: #373a3f;
  height: 5px;
  border: none;
  border-radius: 5px;
}

.column-item {
  float: left;
  font-size: large;
  display: inline;
  position: relative;
  object-fit: cover;
  left: 5%;
  width: 95%;
  margin-bottom: 5px;
}

.icon {
  border-radius: 50%;
  float: left;
}

.name {
  float: left;
  display: flex;
  margin-left: 5px;
  text-align: left;
}

.guild-info {
  font-size: medium;
  text-align: left;
  float: left;
  margin-left: 20px;
}

.pagination-button {
  display: inline-block;
  font-size: medium;
  margin: 5px;
  padding: 4px;
  border-radius: 5px;
  background-color: #40444b;
  color: #a4a7aa;
  cursor: pointer;
  all: unset;
}

.pagination-button:hover{
  filter: brightness(90%);
}

.pagination-button:active {
  filter: brightness(80%);
}

/* .people-type-button {
  
} */