.guilds {
  width: 30%;
  overflow-y: scroll;
  align-content: center;
  height: 93vh;
  scrollbar-width: none;
  background-color: #202225;
  overflow-x: hidden;
  float: left;
}

.divider {
  width: 90%;
  margin-left: 5%;
  background-color: #373a3f;
  height: 5px;
  border: none;
  border-radius: 5px;
}

.guild {
  float: left;
  font-size: large;
}

.guild-icon {
  border-radius: 50%;
}